.cricket-matches {
    color: white;
    font-family: Arial, sans-serif;
    background-color: black; /* Updated background color */
    border-radius: 5px;
    width: 100%;
    margin: auto;
    border : 1px solid gray;
  }
  
  /* Other CSS remains the same */
  .cricket-matches h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    border-bottom : 1px solid gray;
    padding:20px
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

  }
  
  .tabs button {
    background: none;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tabs button:hover {
    background-color: black;
    border-radius: 4px;

  }
  
  .matches-table {
    width: 100%;
    border-collapse: collapse;
    border : 1px solid gray;
    background-color: black;
      }
  
  .matches-table th, .matches-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid white;
  }
  
  .matches-table th {
    font-weight: bold;
    color: #aaa;
  }
  
  .matches-table .live-tag {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 8px;
  }
  
  .matches-table .team {
    display: inline-block;
    width: 60px;
  }
  
  .matches-table .score {
    font-weight: bold;
    margin: 0 8px;
  }
  
  .matches-table th {
    background-color: black !important;
    border:1px solid gray !important;

}

.matches-table td {
  background-color: black !important;

}

.tables-rowss{
  background-color: red !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 15px;
}