/* Header.css */

.custom-navbar {
    background-color: black; 
    border-bottom: 1px solid gray !important;
}

.logo-section {
    display: flex;
    align-items: center;
}

.company-name {
    margin-left: 10px;
    font-weight: bold;
    color: white;
}

.navbar-date {
    color: lightgray;
}

.search-bar {
    flex: 1; 
    max-width: 400px;
    margin-left: 20%;
    
}

.search-input {
    background-image: linear-gradient(to right, #4c4c4d ,#333);

    color: white; /* Text color */
    border: none;
}

.search-input::placeholder {
    color: lightgray; /* Light gray placeholder */
} 

.search-icon {
    background-color: #333; /* Matches the search input color */
    border: none;
    color: lightgray; /* Light gray placeholder */
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.signup-button {
    background-image: linear-gradient(to right, #a100ff , rgb(87, 3, 196));
    border: none;
    transition: background-color 0.3s; 
}


/* Change background color on hover */
.signup-button:hover {
    background-image: none;
    background-color: transparent  !important;
    cursor: pointer;
    border : 1px solid white;
}


.profile-logo {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Optional: makes it circular */
}
